<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loudness Logger</title>
</head>
<script>
    function confirmDelete() {
        return confirm("정말로 이 디렉토리를 삭제하시겠습니까?");
    }
</script>
<body>
    <h1>Ducky's Loudness Logger</h1>
    <h2>현재 경로: {{ current_path }}</h2>
    
    <h2>디렉토리 목록</h2>
    <ul>
        {% for dir in dirs %}
            <li>
                <a href="{{ url_for('list_directory', path=current_path + dir + '/') }}">{{ dir }}/</a>
                {% if current_path == 'audio/' %}  <!-- 현재 경로가 'audio/'일 때만 보이게 -->
                    <form action="{{ url_for('delete_directory', dirname=current_path + dir) }}" method="post" style="display:inline;" onsubmit="return confirmDelete();">
                        <button type="submit" style="font-size: 0.8em;">삭제</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>파일 목록</h2>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('download_file', filename=current_path + file) }}">{{ file }}</a>
            </li>
        {% endfor %}
    </ul>

    <h2>파일 업로드</h2>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="current_path" value="{{ current_path }}">
        <input type="file" name="file" required>
        <input type="submit" value="업로드">
    </form>

    <h2>날짜 선택 및 Loudness 재계산</h2>
    <form action="/date" method="post">
        <input type="date" name="date" required>
        <button type="submit">실행</button>
    </form>
    <h2>주요 링크</h2>
    <ul>
        <li>편성 파일 : <a href="{{ url_for('list_directory', path='schedule') }}">schedule</a></li>
        <li>데이터 파일 : <a href="{{ url_for('list_directory', path='data') }}">data</a></li>
        <li>오디오 파일 : <a href="{{ url_for('list_directory', path='audio') }}">audio</a></li>
    </ul>
</body>
</html>
